/*párrafos*/
p {
    font-family: sans-serif;
    font-size: 8px;
    color: blue;
    background-color: rgba(128, 128, 128);
}

/*títulos*/
h1 {
    color: black;
    font-size: 14px;
    font-weight: bold; /*título principal (en negrita)*/
    background-color: rgba(128, 128, 128, 1);
}

h2, h3, h4, h5, h6 {
    color: black;
    font-size: 14px;
    font-style: italic; /*títulos secundarios (italic)*/
    background-color: rgba(128, 128, 128, 0.7);
}
